@import "variable";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
}

header {
    .primary-nav {
        padding: 5px 0px;
        display: flex;
        align-items: center;
        background-color: $blue-shade-main-nav;
        color: $pure-white;

        .pn-left {
            display: flex;
            margin: 0 15px;

            a {
                display: flex;
                text-decoration: none;
                color: $pure-white;
                font-weight: 400;
                font-style: normal;
                font-size: 13.5px;

                .pn-logo {
                    height: 29px;
                    width: 98px;
                    background: url("../assets/img/sprit-images.png") no-repeat -10px -51px;
                }
            }

            .pn-location {
                display: flex;
                margin: 0 15px;

                .pn-loc-icon {
                    width: 19px;
                    height: 18px;
                    align-self: flex-end;
                    background: url("../assets/img/sprit-images.png") no-repeat -69px -379px;
                }

                .pn-loc-text {
                    .pn-loc-text-light {
                        font-size: 12px;
                        line-height: 14px;
                        color: $grey-font;
                        font-weight: 400;
                        font-style: normal;

                    }

                    .pn-loc-text-dark {
                        line-height: 15px;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
        }

        .pn-fill {
            margin: 0 15px;
            height: 46px;
            display: flex;
            flex-grow: 2;
            border-radius: 6px;
            border: 3px solid transparent;


            #list-product {
                width: 70px;
                padding: 0px 10px;
                font-family: $font-family-v2;
                outline: none;
                border: none;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;

            }

            #pn-fill-search-txt {
                width: 100%;
                outline: none;
                border: none;
            }

            .pn-fill-search-icon {
                display: flex;

                .pn-fill-search-glass {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    width: 45px;
                    background: url("../assets/img/sprit-images.png") no-repeat 0px -277px;
                    background-color: $light-yellow;

                }
            }

            &:focus-within {
                border-radius: 6px;
                border: 3px solid $yellow;
            }
        }

        .pn-right {
            margin: 0 15px;
            display: flex;
            align-items: center;
            list-style-type: none;

            a {
                text-decoration: none;
                color: $pure-white;
                margin: 0px 10px;
            }

            .pn-r-flag {

                display: flex;
                align-items: center;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .pn-r-account-light {
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                font-style: normal;
            }

            .pn-r-account-dark {
                line-height: 15px;
                font-weight: 700;
                font-size: 14px;
            }

            .pn-r-cart {
                display: flex;

                .pn-r-cart-icon {
                    background: url("../assets/img/sprit-images.png") no-repeat -213px -332px;
                    width: 50px;
                    height: 35px;
                    position: relative;

                    .cart-count {
                        position: absolute;
                        left: 50%;
                        color: $yellow;
                    }
                }

                span {
                    align-self: flex-end;
                    font-size: 14px;
                }
            }
        }
    }

    .nav-belt {
        padding: 5px 15px;
        display: flex;
        align-items: center;
        background-color: $blue-shade;
        color: $pure-white;

        .nb-left {
            display: flex;
            align-items: center;

            .nbl-icon {
                .line {
                    height: 2px;
                    width: 20px;
                    background-color: $pure-white;
                    margin: 5px 0px;
                }
            }

            span {
                margin-left: 5px;
            }
        }

        .nb-fill {
            display: flex;
            overflow: hidden;

            a {
                padding: 8px 12px;
                font-size: 14px;
                text-decoration: none;
                color: inherit;
                font-weight: 400;
            }
        }

        .nb-right {
            width: 400px;
            height: 39px;
            overflow: hidden;
            background-repeat: no-repeat;
            border: none;
            background-size: inherit;
            position: absolute;
            right: 0;
        }
    }
}