@import url("../assets/fonts/fonts.css");

$font-family: 'Amazon Ember';
$font-family-v2: 'Amazon Ember V2';
$yellow: #f3a847;
$light-yellow: #febd69;
$dark-blue: #146eb4;
$pure-black: #000000;
$pure-white: #ffffff;
$blue-shade: #232f3e;
$blue-shade-main-nav: #131921;
$grey: #f2f2f2;
$grey-font: #ccc;