@import "header";
@import "footer";

section {
    width: 80%;
    margin: 0 auto 50px auto;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }

    .products-layout {
        margin-top: -350px;
        position: relative;
        z-index: 2;

        .row {
            margin: 15px;
            display: flex;
            overflow: hidden;

            .col {
                width: 100%;

                .products {
                    margin: 5px;
                    background-color: white;

                    .p-row {
                        display: flex;
                        flex-direction: row;
                        background-color: $pure-white;
                        margin: 5px;

                        .p-col {
                            margin: 5px;
                            background-color: $pure-white;

                        }
                    }
                }
            }
        }
    }
}