@import url("../assets/fonts/fonts.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Amazon Ember";
}

header .primary-nav {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  background-color: #131921;
  color: #ffffff;
}
header .primary-nav .pn-left {
  display: flex;
  margin: 0 15px;
}
header .primary-nav .pn-left a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 13.5px;
}
header .primary-nav .pn-left a .pn-logo {
  height: 29px;
  width: 98px;
  background: url("../assets/img/sprit-images.png") no-repeat -10px -51px;
}
header .primary-nav .pn-left .pn-location {
  display: flex;
  margin: 0 15px;
}
header .primary-nav .pn-left .pn-location .pn-loc-icon {
  width: 19px;
  height: 18px;
  align-self: flex-end;
  background: url("../assets/img/sprit-images.png") no-repeat -69px -379px;
}
header .primary-nav .pn-left .pn-location .pn-loc-text .pn-loc-text-light {
  font-size: 12px;
  line-height: 14px;
  color: #ccc;
  font-weight: 400;
  font-style: normal;
}
header .primary-nav .pn-left .pn-location .pn-loc-text .pn-loc-text-dark {
  line-height: 15px;
  font-weight: 700;
  font-size: 14px;
}
header .primary-nav .pn-fill {
  margin: 0 15px;
  height: 46px;
  display: flex;
  flex-grow: 2;
  border-radius: 6px;
  border: 3px solid transparent;
}
header .primary-nav .pn-fill #list-product {
  width: 70px;
  padding: 0px 10px;
  font-family: "Amazon Ember V2";
  outline: none;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
header .primary-nav .pn-fill #pn-fill-search-txt {
  width: 100%;
  outline: none;
  border: none;
}
header .primary-nav .pn-fill .pn-fill-search-icon {
  display: flex;
}
header .primary-nav .pn-fill .pn-fill-search-icon .pn-fill-search-glass {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 45px;
  background: url("../assets/img/sprit-images.png") no-repeat 0px -277px;
  background-color: #febd69;
}
header .primary-nav .pn-fill:focus-within {
  border-radius: 6px;
  border: 3px solid #f3a847;
}
header .primary-nav .pn-right {
  margin: 0 15px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
header .primary-nav .pn-right a {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 10px;
}
header .primary-nav .pn-right .pn-r-flag {
  display: flex;
  align-items: center;
}
header .primary-nav .pn-right .pn-r-flag img {
  width: 25px;
  height: 25px;
}
header .primary-nav .pn-right .pn-r-account-light {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
}
header .primary-nav .pn-right .pn-r-account-dark {
  line-height: 15px;
  font-weight: 700;
  font-size: 14px;
}
header .primary-nav .pn-right .pn-r-cart {
  display: flex;
}
header .primary-nav .pn-right .pn-r-cart .pn-r-cart-icon {
  background: url("../assets/img/sprit-images.png") no-repeat -213px -332px;
  width: 50px;
  height: 35px;
  position: relative;
}
header .primary-nav .pn-right .pn-r-cart .pn-r-cart-icon .cart-count {
  position: absolute;
  left: 50%;
  color: #f3a847;
}
header .primary-nav .pn-right .pn-r-cart span {
  align-self: flex-end;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */