@import url("../assets/fonts/fonts.css");
:root {
  --swiper-navigation-top-offset: 10%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Amazon Ember";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .primary-nav {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  background-color: #131921;
  color: #ffffff;
}
header .primary-nav .pn-left {
  display: flex;
  margin: 0 15px;
}
header .primary-nav .pn-left a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 13.5px;
}
header .primary-nav .pn-left a .pn-logo {
  height: 29px;
  width: 98px;
  background: url("../assets/img/sprit-images.png") no-repeat -10px -51px;
}
header .primary-nav .pn-left .pn-location {
  display: flex;
  margin: 0 15px;
}
header .primary-nav .pn-left .pn-location .pn-loc-icon {
  width: 19px;
  height: 18px;
  align-self: flex-end;
  background: url("../assets/img/sprit-images.png") no-repeat -69px -379px;
}
header .primary-nav .pn-left .pn-location .pn-loc-text .pn-loc-text-light {
  font-size: 12px;
  line-height: 14px;
  color: #ccc;
  font-weight: 400;
  font-style: normal;
}
header .primary-nav .pn-left .pn-location .pn-loc-text .pn-loc-text-dark {
  line-height: 15px;
  font-weight: 700;
  font-size: 14px;
}
header .primary-nav .pn-fill {
  margin: 0 15px;
  height: 46px;
  display: flex;
  flex-grow: 2;
  border-radius: 6px;
  border: 3px solid transparent;
}
header .primary-nav .pn-fill #list-product {
  width: 70px;
  padding: 0px 10px;
  font-family: "Amazon Ember V2";
  outline: none;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
header .primary-nav .pn-fill #pn-fill-search-txt {
  width: 100%;
  outline: none;
  border: none;
}
header .primary-nav .pn-fill .pn-fill-search-icon {
  display: flex;
}
header .primary-nav .pn-fill .pn-fill-search-icon .pn-fill-search-glass {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 45px;
  background: url("../assets/img/sprit-images.png") no-repeat 0px -277px;
  background-color: #febd69;
}
header .primary-nav .pn-fill:focus-within {
  border-radius: 6px;
  border: 3px solid #f3a847;
}
header .primary-nav .pn-right {
  margin: 0 15px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
header .primary-nav .pn-right a {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 10px;
}
header .primary-nav .pn-right .pn-r-flag {
  display: flex;
  align-items: center;
}
header .primary-nav .pn-right .pn-r-flag img {
  width: 25px;
  height: 25px;
}
header .primary-nav .pn-right .pn-r-account-light {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
}
header .primary-nav .pn-right .pn-r-account-dark {
  line-height: 15px;
  font-weight: 700;
  font-size: 14px;
}
header .primary-nav .pn-right .pn-r-cart {
  display: flex;
}
header .primary-nav .pn-right .pn-r-cart .pn-r-cart-icon {
  background: url("../assets/img/sprit-images.png") no-repeat -213px -332px;
  width: 50px;
  height: 35px;
  position: relative;
}
header .primary-nav .pn-right .pn-r-cart .pn-r-cart-icon .cart-count {
  position: absolute;
  left: 50%;
  color: #f3a847;
}
header .primary-nav .pn-right .pn-r-cart span {
  align-self: flex-end;
  font-size: 14px;
}
header .nav-belt {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  color: #ffffff;
}
header .nav-belt .nb-left {
  display: flex;
  align-items: center;
}
header .nav-belt .nb-left .nbl-icon .line {
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  margin: 5px 0px;
}
header .nav-belt .nb-left span {
  margin-left: 5px;
}
header .nav-belt .nb-fill {
  display: flex;
  overflow: hidden;
}
header .nav-belt .nb-fill a {
  padding: 8px 12px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
header .nav-belt .nb-right {
  width: 400px;
  height: 39px;
  overflow: hidden;
  background-repeat: no-repeat;
  border: none;
  background-size: inherit;
  position: absolute;
  right: 0;
}

footer {
  height: 10rem;
  border: 3px solid saddlebrown;
  margin-top: auto;
}

section {
  width: 80%;
  margin: 0 auto;
}
section .swiper {
  width: 100%;
  height: 100%;
}
section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .products-layout {
  width: inherit;
  position: absolute;
  top: 25%;
  border: 2px solid red;
  z-index: 2;
}
section .products-layout .row {
  margin: 15px;
  border: 2px solid rgb(146, 50, 205);
  display: flex;
}
section .products-layout .row .col {
  width: 100%;
  border: 2px solid rgb(26, 255, 0);
}
section .products-layout .row .col .products {
  margin: 5px;
  background-color: white;
  border: 2px solid lightgreen;
}
section .products-layout .row .col .products .p-row {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin: 5px;
}
section .products-layout .row .col .products .p-row .p-col {
  margin: 5px;
  background-color: #ffffff;
}/*# sourceMappingURL=style.css.map */